<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="remix.myplayer">

  <uses-permission
    android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
    tools:ignore="ProtectedPermissions,ScopedStorage" />
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
</manifest>