<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="remix.myplayer">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".application.APlayerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 友盟统计与推送 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56d6563367e58e6aa70005af" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="5cc69b6b8425a8e30cf6f0b40b67bda3" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${CHANNEL_VALUE}" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/ActivityStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.MUSIC_PLAYER"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.APP_MUSIC"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="content"/>
                <data android:mimeType="audio/*"/>
                <data android:mimeType="application/ogg"/>
                <data android:mimeType="application/x-ogg"/>
                <data android:mimeType="application/itunes"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
                <data android:mimeType="audio/*"/>
                <data android:mimeType="application/ogg"/>
                <data android:mimeType="application/x-ogg"/>
                <data android:mimeType="application/itunes"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.cyanogenmod.eleven.AUDIO_PLAYER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.OPENABLE"/>
                <data android:mimeType="vnd.android.cursor.dir/audio"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.PlayerActivity"
            android:parentActivityName=".ui.activity.MainActivity"
            android:theme="@style/AudioHolderStyle"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activity.SearchActivity"
            android:theme="@style/ActivityStyle" />
        <activity
            android:name=".ui.activity.FolderActivity"
            android:theme="@style/ActivityStyle" />
        <activity
            android:name=".ui.activity.ChildHolderActivity"
            android:theme="@style/ActivityStyle" />
        <activity
            android:name=".ui.activity.RecordShareActivity"
            android:theme="@style/ActivityStyle" />
        <activity
            android:name=".ui.activity.AboutActivity"
            android:theme="@style/ActivityStyle" />
        <activity
            android:name=".ui.activity.RecetenlyActivity"
            android:theme="@style/ActivityStyle" />
        <activity
            android:name=".ui.activity.FeedBackActivity"
            android:theme="@style/ActivityStyle" />
        <activity
            android:name=".ui.activity.ScanActivity"
            android:theme="@style/ActivityStyle" />
        <activity
            android:name=".ui.activity.EQActivity"
            android:theme="@style/ActivityStyle" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:theme="@style/ActivityStyle" />
        <activity
            android:name=".ui.activity.ThemeActivity"
            android:theme="@style/ActivityStyle" />
        <activity
            android:name=".ui.activity.SongChooseActivity"
            android:theme="@style/ActivityStyle" />
        <activity
            android:name=".ui.activity.LockScreenActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:theme="@style/LockScreenActivity" />
        <activity
            android:name=".ui.dialog.AddtoPlayListDialog"
            android:theme="@style/BaseDialogTheme" />
        <activity
            android:name=".ui.dialog.PlayQueueDialog"
            android:theme="@style/BaseDialogTheme" />
        <activity
            android:name=".ui.dialog.OptionDialog"
            android:theme="@style/BaseDialogTheme" />
        <activity
            android:name=".ui.dialog.TimerDialog"
            android:theme="@style/BaseDialogTheme" />
        <activity
            android:name=".ui.dialog.ColorChooseDialog"
            android:theme="@style/BaseDialogTheme" />

        <!-- 图片裁剪 -->
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity
            android:name=".ui.dialog.ShareDialog"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/BaseDialogTheme">

            <!-- 微博分享 -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- bombupdate -->
        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- 微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 必须注册在微博授权，分享微博时候用到 -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>

        <!-- 腾讯相关activity -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="tencent1105030910" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver android:name=".receiver.LineCtlReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.NotifyReceiver">
            <intent-filter>
                <action android:name="remix.music.NOTIFY" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.ExitReceiver">
            <intent-filter>
                <action android:name="remix.music.EXIT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.EQReceiver">
            <intent-filter>
                <action android:name="remix.music.SOUNDEFFECT_ACTION" />
            </intent-filter>
        </receiver>

        <service android:name=".service.MusicService" />

        <provider
            android:name=".db.DBContentProvider"
            android:authorities="remix.myplayer"
            android:exported="false" />

         <!--&lt;!&ndash;桌面部件&ndash;&gt;-->
         <!--<receiver android:name=".appwidgets.AppWidgetBig">-->
             <!--<intent-filter>-->
                <!--<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>-->
             <!--</intent-filter>-->
             <!--<meta-data android:name="android.appwidget.provider"-->
                <!--android:resource="@xml/appwidget_big_info" />-->
         <!--</receiver>-->
        <!--<receiver android:name=".appwidgets.AppWidgetMedium">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>-->
            <!--</intent-filter>-->
            <!--<meta-data android:name="android.appwidget.provider"-->
                <!--android:resource="@xml/appwidget_medium_info" />-->
        <!--</receiver>-->
        <!--<receiver android:name=".appwidgets.AppWidgetSmall">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>-->
            <!--</intent-filter>-->
            <!--<meta-data android:name="android.appwidget.provider"-->
                <!--android:resource="@xml/appwidget_small_info" />-->
        <!--</receiver>-->

    </application>

</manifest>