<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="remix.myplayer">
    <!--dangerous-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--normal-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--special-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sideaplayer_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".application.Application">
        <meta-data android:value="56d6563367e58e6aa70005af" android:name="UMENG_APPKEY"/>
        <meta-data android:value="Umeng" android:name="UMENG_CHANNEL"/>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/ActivityStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.AudioHolderActivity"
            android:theme="@style/AudioHolderStyle"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity"/>
        </activity>


        <activity android:name=".activities.SearchActivity"
            android:theme="@style/ActivityStyle"/>

        <activity android:name=".activities.PlayListActivity"
            android:theme="@style/ActivityStyle">
        </activity>

        <activity android:name=".activities.ChildHolderActivity"
            android:theme="@style/ActivityStyle"/>

        <activity android:name=".activities.RecordShareActivity"/>

        <activity android:name=".activities.AboutActivity"
            android:theme="@style/ActivityStyle"/>

        <activity android:name=".activities.RecetenlyActivity"
            android:theme="@style/ActivityStyle"/>

        <activity android:name=".activities.SettingActivity"
            android:theme="@style/ActivityStyle"/>

        <activity android:name=".activities.FeedBakActivity"
            android:theme="@style/ActivityStyle"/>

        <activity android:name=".activities.ScanActivity"
            android:theme="@style/ActivityStyle"/>

        <activity android:name=".activities.EQActivity"
            android:theme="@style/ActivityStyle"/>

        <activity android:name=".activities.LockScreenActivity"
            android:theme="@style/LockScreenDialog"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance"/>

        <activity android:name=".ui.dialog.AddtoPlayListDialog"
            android:theme="@style/PopupBottomDialog"/>

        <activity android:name=".ui.dialog.PlayingListDialog"
            android:theme="@style/PopupBottomDialog"/>

        <activity android:name=".ui.dialog.OptionDialog"
            android:theme="@style/PopupBottomCompactDialog"
            android:label=""/>

        <activity android:name=".ui.dialog.TimerDialog"
            android:theme="@style/PopupCenterDialog"/>

        <activity android:name=".ui.dialog.AddPlayListDialog"
            android:theme="@style/PopupCenterDialog"/>


        <activity android:name=".ui.dialog.ShareDialog"
            android:theme="@style/PopupBottomDialog"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
             <!--微博分享-->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--ShareSdk-->
        <!--<activity-->
            <!--android:name="com.mob.tools.MobUIShell"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar"-->
            <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateHidden|adjustResize" >-->
            <!--<intent-filter>-->
                <!--<data android:scheme="tencent1105030910" />-->
                <!--<action android:name="android.intent.action.VIEW" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <!--有盟-->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>


        <!--微信-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />

        <!-- 必须注册在微博授权，分享微博时候用到 -->
        <activity android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" >
        </activity>

        <!-- 腾讯相关activity-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="tencent1105030910" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <receiver android:name=".receivers.LineCtlReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.NotifyReceiver">
            <intent-filter>
                <action android:name="remix.music.NOTIFY"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.ExitReceiver">
            <intent-filter>
                <action android:name="remix.music.EXIT"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.EQReceiver">
            <intent-filter>
                <action android:name="remix.music.SOUNDEFFECT_ACTION"/>
            </intent-filter>
        </receiver>

        <service android:name=".services.MusicService"/>
        <service android:name=".services.TimerService"/>

    </application>

</manifest>
